// Variables / Colores

$color-dark:#2a2828;
$color-white:#FAFAFA;
$color-light: #D1D7E3;
$color-acento:#FF1FA5;
$color-paws: #9933FF;
$color-sube: #009CE5;

// Variables / Fonts

$font-bebas:'Bebas Neue', sans-serif;
$font-global:'Inter Tight', sans-serif;


