// Variables / Colores

$color-dark:#2a2828;
$color-light:#e6e2df;
$color-acento:#ff3399;
$color-components:#cc99ff;

// Variables / Fonts

$font-titulos:'Bebas Neue', cursive;
$font-subtitulos:'Poppins', cursive;
$font-parrafos:'poppins', sans-serif;
$font-titulosh:'Poppins', sans-serif;
$font-span:'Montserrat Alternates', sans-serif;


