%bg{
    background-size: cover;
    height: 94vh;
    background-position: center;
    background-repeat: no-repeat;
}

.bgPawsHero{
    @extend %bg;

    background-image: url(../assets/img/PawsCarrouselSM.svg);
    
        @include aspect-ratio-v{
            background-image: url(../assets/img/Sube.svg);
        }
        @include aspect-ratio-h{
            background-image: url(../assets/img/ArtworkCarrouselSM.svg);
        }
        
    @include media-xl{
        background-image: url(../assets/img/PawsCarrouselLG.svg);

        @include aspect-ratio-v{
            background-image: url(../assets/img/Prueba.png);
        }
        @include aspect-ratio-h{
            background-image: url(../assets/img/Prueba.png);
        }
    }
}

.bgSubeHero{
    @extend %bg;
    background-image: url(../assets/img/SubeCarrouselSM.svg);
    @include media-xl{
        background-image: url(../assets/img/SubeCarrouselLG.svg);
    }
}

.bgArtworkHero{
    @extend %bg;
    background-image: url(../assets/img/ArtworkCarrouselSM.svg);
    @include media-xl{
        background-image: url(../assets/img/ArtworkCarrouselLG.svg);
    }
}

.bgKatana{
    @extend %bg;
    background-image: url(../assets/img/KatanaHomeSM.svg);
    @include media-xl{
        background-image: url(../assets/img/KatanaHomeLG.svg);
    }
}
