%bg{
    background-size: cover;
    height: 94vh;
    background-position: center;
    background-repeat: no-repeat;
}

.bgPawsHero{
    @extend %bg;

    background-image: url(../assets/img/PawsCarrouselSM.svg); 
    @include media-xl{
        background-image: url(../assets/img/10PAWS.svg);
    }
}

.bgWhimsy{
    @extend %bg;

    background-image: url(../assets/img/hero-sm.png); 
    @include media-xl{
        background-image: url(../assets/img/hero-lg.png);
    }
}

.bgSubeHero{
    @extend %bg;
    background-image: url(../assets/img/SubeCarrouselSM.svg);
    @include media-xl{
        background-image: url(../assets/img/12SUBE.svg);
    }
}

.bgArtworkHero{
    @extend %bg;
    background-image: url(../assets/img/ArtworkCarrouselSM.svg);
    @include media-xl{
        background-image: url(../assets/img/ArtworkCarrouselLG.svg);
    }
}

.bgKatana{
    @extend %bg;
    background-image: url(../assets/img/KatanaHomeSM.svg);
    @include media-xl{
        background-image: url(../assets/img/KatanaHomeLG.svg);
    }
}
