.bi-list{
    font-size: 32px;
    color: $color-light;
}
.bi-bag-heart{
    font-size: 28.8px;
    padding-left: 35.2px;
}

.nav{
    &__bag{
        color:$color-light;
        &:hover{
            color:$color-acento;
        }
    }
    &__img{
        height: 64px;
        width: 64px;
        padding: 0;
        margin: 0;
        border: 0;
    }
}

.navbar{
    --bs-navbar-padding-y: 8px;
    background-color:$color-dark;
}

.border-bottom{
    --bs-border-color:#c097ea;
    --bs-border-width:3px;
}

.navbar-toggler{
    border: none;
}

.nav-link{
    --bs-nav-link-color: #e6e2df;
    --bs-navbar-active-color:#c097ea;
    &:hover{
        color: $color-acento;
    }
}

.active{
    border-bottom: 1px solid $color-components ;
}
