*{
    font-family: $font-global;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: $color-dark;
}

a:hover{
    color: blueviolet;
}

img{
    width: 300px;
}

.icons{
    width: 3rem;
    padding: 0 10px 0 10px ;

}

.pink{
    color: $color-acento;
}

.background{
    background-image: url('https://assets-global.website-files.com/64949e4863d96e26a1da8386/64b9451865a683fd39bccfa1_5f6e93d250a6d04f4eae9f02_Backgrounds-WFU-thumbnail-(size).jpeg');
    background-size: cover;
}



