*{
    font-family: 'Inter Tight', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: blueviolet;
}

img{
    width: 300px;
}

.icons{
    width: 3rem;
    padding: 0 10px 0 10px ;
    
}

.pink{
    color: #FF1FA5;
}

.background{
    background-image: url('https://assets-global.website-files.com/64949e4863d96e26a1da8386/64b9451865a683fd39bccfa1_5f6e93d250a6d04f4eae9f02_Backgrounds-WFU-thumbnail-(size).jpeg');
    background-size: cover;
}